html {
  font-size: 2em;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

.Users {
  width: 40vw;
  padding-right: 10vw;
}

.Months {
  padding-left: 3vw;
}
